.Hero {
    height: 100vh;
    width: 100vw;
    // background-size: contain;
    nav ul {
        display: flex;
        justify-content: center;
        color: white;
        list-style-type: none;
        background: rgba(0, 0, 0, 0.397);
        height: 2rem;
        &:hover {
            background: #000;
        }
        li {
            display: inline-block;
            margin: 0 2rem;
            padding: .5rem 0;
            font-size: 1em;
            letter-spacing: 2px;
            font-weight: 100;
            &:hover {
                border-bottom: 1px solid #fff;
            }
            a{
                color: #fff;
                text-decoration: none;
                &:visited,
                &:focus {
                    text-decoration: none;
                }
            }
        }
    }
    .Statement {
        text-align: center;
        padding-top: 20vh;
        color: #fff;
        h1 {
            font-size: 3rem;
            font-weight: 100;
            span { font-weight: 700;}
        }

        p {
            font-weight: 100;
            font-size: 2rem;
            span { font-weight: 500;}
        }
    }
}